name: Build and run tests during development
on:
  push:
    branches:
      - dev
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: cd snakejs && npm ci
      - name: Run tests
        run: npm test