name: Main workflow
on:
  push:
    branches:
      - main
      - ga-deploy-dockerhub
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: cd snakejs && npm ci
      - name: Run tests
        run: npm test
  deploy_to_dockerhub:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Build image
        run: docker build . -t ${{ vars.DOCKER_USER }}/snakejs:latest
      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Push image to Docker Hub
        run: docker push ${{ vars.DOCKER_USER }}/snakejs:latest
  